<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include "./navbar.html" %}
    <div class="container">
    <h1>Contact Us</h1>
    <h3 class="mt-3">Address</h3>
    <p>
        123 Sample Street <br>
        54321 State
    </p>
    <h3>Telefone</h3>
    <p>
        +1 789 123 4567
    </p>
    </div>
</body>
</html>